In [1]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql

In [24]:
import pandas as pd
import csv

In [4]:
conn = pymysql.connect(host = 'localhost', user ='root', password = 'iclab7799', charset='utf8')

In [6]:
cursor = conn.cursor()

In [7]:
sql = "CREATE DATABASE developer"

In [8]:
cursor.execute(sql)

1

In [136]:
conn.commit()

In [134]:
sql = '''CREATE TABLE bugs(
albumid int(11) NOT NULL,
artistid int(11),
mvid int(11),
trackid int(11),
multiaritist varchar(20),
rowtype varchar(20) 
)'''

In [135]:
cursor.execute(sql)

0

In [231]:
create_table_melon_sql = '''CREATE TABLE melon(
music_number int(20) NOT NULL,
album_name varchar(255),
artist varchar(255),
genre varchar(64),
date varchar(20),
Flac varchar(64) 
)'''


cursor.execute(create_table_melon_sql)
conn.commit()

In [198]:
f = open('C:\\Users\\USER\\Desktop\\bugs.csv','r', encoding = 'utf-8')
csvReader1 = csv.reader(f)

g = open('C:\\Users\\USER\\Desktop\\melon.csv','r', encoding = 'utf-8' )
csvReader2 = csv.reader(g)

In [123]:
insert_sql = 'insert into bugs (albumid, artistid, mvid, trackid, multiaritist, rowtype) values (%d, %d, %d, %d, %s, %s)'

In [137]:
for line in csvReader1:
    cursor.execute(insert_sql,(line[0], line[1], line[2], line[3], line[4], line[5]))
    
conn.commit()

f.close()

In [232]:
insert_melon_sql = 'insert into melon (music_number, album_name, artist, genre, date, Flac) values (%s, %s, %s, %s, %s, %s)'

In [233]:
for line in csvReader2:
    cursor.execute(insert_melon_sql,(line[0], line[1], line[2], line[3], line[4], line[5]))

conn.commit()

g.close()